/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Cormorant+Garamond|Old+Standard+TT|Playfair+Display&display=swap');

.white-space{
    width: 100%;
    height: auto;
}

.white-space-tablet {
    display: none;
}

.white-space-desktop {
    display: none;
}

.banner-1{
    width: 100%;
    height: auto;
}

.banner-2{
    width: 100%;
    height: auto;
}

/* Media rules tablet*/
@media only screen and (min-width: 768px)  {
    .white-space {
        display: none;
    }
    
    .white-space-tablet {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* Media rules desktop */
@media only screen and (min-width: 992px) {
    .white-space-tablet {
        display: none;
    }
    
    .white-space-desktop{
        display: block;
        width: 100%;
        height: auto;
    }
}