/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Cormorant+Garamond|Old+Standard+TT|Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Styling af opskrift start */
.opskrift {
    background-color: beige;
    padding: 10px 20px 20px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: black;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Old Standard TT', serif;
    font-size: 13px;
    color: black;
    line-height: 1.5em;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
}

.ingredienser {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Old Standard TT', serif;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.5em;
}

.fremgang {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Old Standard TT', serif;
    font-size: 14px;
    line-height: 1.5em;
}

.suppe {
    width: 100%;
}
/* Styling af opskrift slut */

/* Styling af vine start */

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-left: 45px;
    padding: 0px 20px 0;
}

.row-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-left: 45px;
    padding: 0px 20px 0;
}

.section-bg {
    background: white;

}

.section-title {
    margin-bottom: 25px;
}

h5 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.produkt-title {
    margin-bottom: 20px;
}

h6 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Old Standard TT', serif;
    color: black;
    font-size: 16px;
    position: relative;
    text-align: center;
    margin-right: 40px;
}
.single-product {
    border-radius: 12px;
}

.product-thumb {
    display: inline-block;
   width: 100%;
}

.img {
    max-width: 100%; 
}

.produkt-btns li img {
    display: none;
}

.buy li {
    display: inline-block;
    list-style-type: none;
}

.buy li a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    color: black;
    padding: 10px 10px 0px;
    position: relative;
    top: -70px;
    
}

.btn-small {
   padding: 5px 10px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    background: #562721;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    position: relative;
    top: 45px;
    transition: opacity .3s linear;
}

.btn-small-1 {
    padding: 5px 10px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    background: #562721;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    position: relative;
    top: 60px;
    transition: opacity .3s linear;
}

.btn-small:hover {
    opacity: .7;
}
/* Styling af vine slut */

/* Media rules tablet*/
@media only screen and (min-width: 768px) {
    .opskrift {
        position: relative;
        top: -30px;
        padding: 40px 40px 0px;
    }
    
    h1 {

        font-size: 45px;
    }
    
    h2 {
        font-size: 18px;
    } 
    
    .tid {
        height: 45px;
    }
    
    
    h3 {
        font-size: 20px;
    }
    
    .ingredienser {
        font-size: 16px;
    }
    
    .fremgang {
        font-size: 16px;
    }
    
    h5 {
    font-size: 45px;
    position: relative;
    top: -45px;
}
    
    .row-2 {
    margin-left: 65px;
    top: -55px;
    display: flex;
    justify-content: space-between;
    
}
    
    .row-3 {
    margin-left: 65px;
    top: -50px;
    display: flex;
    justify-content: space-between;
}
    
    .produkt-btns li img {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        position: relative;
        top: 15px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    .btn-small {
        top: -10px;
        margin-left: 5px;
        padding: 10px 15px;
    }
    
    .btn-small-1 {
        top: -10px;
        margin-left: 5px;
        padding: 10px 15px;
    }
}

/* Media rules desktop */
@media only screen and (min-width: 992px) {
    .opskrift {
        position: relative;
        top: -180px;
        padding: 120px 100px 0px;
        margin: 60px;
    }
    
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    .tid {
        height: 60px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    .ingredienser {
        font-size: 20px;
    }
    
    .fremgang {
        font-size: 20px;
    }
    
    .row-2 {
       margin-left: 180px;
        margin-right: 120px;
        top: -175px;
    }
    
    .row-3 {
        margin-left: 180px;
        margin-right: 120px;
        top: -150px;
    }
    
    h5 {
    font-size: 60px;
    position: relative;
    top: -150px;
}
    
    .produkt-btns li img {
        width: 45px;
        height: 45px;
        margin-right: 20px;
        top: -30px;
    }
    
    h6 {
        font-size: 26px;
        position: relative;
        top: -40px;
        margin-right: 20px;
    }
    
    .btn-small {
        top: -40px;
        margin-right: 20px;
        padding: 20px 30px;
        font-size: 26px;
        top: -60px;
    }
    
    .btn-small-1 {
         top: -40px;
        margin-right: 20px;
        padding: 20px 30px;
        font-size: 26px;
        top: -60px;
    }
}